<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
            <h2>{{message}}</h2>
            <p>This is for test</p>
        </div>

        {{>footer}}
    </body>
</html>